html {
    overflow-y: hidden;
}

main {
  width: 100%;
  height: 100vh;
}

header {
  background-color: rgb(204, 224, 19);
  width: 100%;
  height: 10vh;
}

.class-0 {
  overflow-y: scroll;
  width: 100%;
  height: 90vh;
}

.class-0::-webkit-scrollbar {
  width: 0;
}

.class-1 {
  background-color: black;
  width: 100%;
  height: 90vh;
}

.class-2 {
  background-color: rgb(219, 13, 13);
  width: 100%;
  height: 90vh;
}

.class-3 {
  background-color: rgb(27, 13, 219);
  width: 100%;
  height: 90vh;
}

.class-4 {
  background-color: rgb(37, 219, 13);
  width: 100%;
  height: 90vh;
}
